<template>
  <v-container fluid>
    <v-row class="h-100">
      <v-col cols="12" id="map" class="mx-0 px-0" style="height: 93vh;"></v-col>
    </v-row>
  </v-container>
</template>

<script>
import "mapbox-gl/dist/mapbox-gl.css";
import mapboxgl from "mapbox-gl";
import axios from "axios";
import bbox from "turf-bbox";

export default {
  name: "Map",
  mounted() {    
    let featureCollection = {
      "type": "FeatureCollection",
      "features": []
    };
    const articles_req = axios.get(`../data/articles.json`);

    articles_req.then((res) => {
      res.data.forEach(article =>{
        featureCollection.features.push({
          "type": "Feature",
          "properties": {
            "title": article.title,
            "location": article.location,
            "blurb": article.blurb,
            "href": article.href
          },
          "geometry": {
            "type": "Point",
            "coordinates": article.coordinates
          }
        })
      })

      let boundingBox = bbox(featureCollection)

      mapboxgl.accessToken =
        "pk.eyJ1IjoibWtlbGxlcjMiLCJhIjoieFdYUUg5TSJ9.qzhP1v5f1elHrnTV4YpkiA";
      const map = new mapboxgl.Map({
        container: "map", // container ID
        style: "mapbox://styles/mapbox/dark-v10", // style URL
        center: [-92,40], // starting position [lng, lat]
        zoom: 4, // starting zoom
      });

      map.fitBounds(boundingBox,{
        padding: 200
      })

      map.on("load", () => {
        map.addControl(new mapboxgl.NavigationControl(), "top-left");
        
        map.addSource('points', {
          'type': 'geojson',
          'data': featureCollection
        })

        map.addLayer({
          'id': 'points',
          'type': 'circle',
          'source': 'points',
          'paint': {
            'circle-color': '#EFD005',
            'circle-radius': 7,
            'circle-stroke-color': '#000000',
            'circle-stroke-width': 2
          }
        });

        map.on('click', 'points', (e) => {
          // Copy coordinates array.
          const coordinates = e.features[0].geometry.coordinates.slice();
          
          // Ensure that if the map is zoomed out such that multiple
          // copies of the feature are visible, the popup appears
          // over the copy being pointed to.
          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
          }
          
          new mapboxgl.Popup()
          .setLngLat(coordinates)
          .setHTML(`<h3><a href="/map/${e.features[0].properties.href}">${e.features[0].properties.title}</a></h3><p class="mb-0 pb-0">${e.features[0].properties.location}</p><hr><p>${e.features[0].properties.blurb}</p>`)
          .addTo(map);
        });

        map.on('mouseenter', 'points', () => {
          map.getCanvas().style.cursor = 'pointer';
        });
        
        map.on('mouseleave', 'points', () => {
          map.getCanvas().style.cursor = '';
        });
                

        
      });
    });
  },  
};
</script>

<style>
#map {
  width: 100%;
  
}

.article {
  height: 93vh;
  overflow: auto;
}
</style>